.section {
  display: flex;
  justify-content: center;
  position: relative;
}

.container {
  align-items: center;
  flex-direction: column;
}

.headline {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.paragraph {
  max-width: 784px;
  text-align: center;
}

.link {
  font-weight: 500;
  line-height: 24px;
  color: var(--purple);
  text-decoration: underline;
}

.link:hover {
  text-decoration: underline;
}

/* Extra small devices */
@media (min-width: 320px) {
  .section {
    padding: 64px 0;
  }

  .image {
    display: none;
  }

  .headline {
    text-align: center;
  }

  .subtitle {
    max-width: 243px;
    margin-bottom: 16px;
  }

  .paragraph {
    margin-bottom: 28px;
  }

  .link {
    max-width: 272px;
    text-align: center;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .subtitle {
    max-width: unset;
    margin-bottom: 40px;
  }

  .paragraph {
    margin-bottom: 40px;
  }

  .link {
    max-width: unset;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .section {
    padding: 96px 0 104px 0;
  }

  .headline {
    margin-bottom: 64px;
  }

  .image {
    display: flex;
  }
}
