.header {
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 1388px;
  align-items: center;
}

.menu {
  width: 100%;
  display: flex;
  align-items: center;
}

.nav {
  margin-left: 40px;
}

.list {
  display: flex;
}

.item + .item {
  margin-left: 32px;
}

.link {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  color: var(--white);
}

.buttons .link,
.item .link {
  padding-bottom: 4px;
}

.buttons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.button {
  border: 0;
  width: 100%;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  color: var(--white);
  border-radius: 4px;
  padding: 12px 22px;
  max-width: 236px;
  margin-right: 24px;
  background: var(--green);
}
