.header {
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 1388px;
  align-items: center;
}

.menu {
  display: flex;
  align-items: center;
}

.nav {
  margin-left: 40px;
}

.list {
  display: flex;
}

.link {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  color: var(--white);
}

.buttons .link,
.item .link {
  padding-bottom: 4px;
}

.buttons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.button {
  border: 0;
  width: 100%;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  color: var(--white);
  border-radius: 4px;
  background: var(--green);
}

/* Extra small devices */
@media (min-width: 320px) {
  .nav,
  .buttons .link {
    display: none;
  }

  .button {
    padding: 12px 14px;
    max-width: 220px;
  }
}

/* Small devices (landscape phones, 375px and up) */
@media (min-width: 375px) {
  .button {
    padding: 12px 22px;
    max-width: 236px;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .button {
    margin-right: 24px;
  }

  .buttons .link {
    display: flex;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .menu {
    width: 100%;
  }

  .nav {
    display: flex;
  }

  .item + .item {
    margin-left: 24px;
  }
}

/* Extra large devices (large desktops, 1116px and up) */
@media (min-width: 1116px) {
  .container {
    margin: 0 28px;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .item + .item {
    margin-left: 32px;
  }
}

/* Extra large devices (large desktops, 1444px and up) */
@media (min-width: 1444px) {
  .container {
    margin: 0;
  }
}
