.section {
  display: flex;
  justify-content: center;
  position: relative;
  padding: 64px 0;
}

.container {
  align-items: center;
  flex-direction: column;
}

.headline {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.subtitle {
  font-size: 22px;
  line-height: 32px;
  margin-bottom: 16px;
}

.paragraph {
  font-size: 18px;
  line-height: 24px;
}

.form {
  display: flex;
  align-items: center;
}

.input {
  font-size: 14px;
  line-height: 20px;
  border-radius: 4px;
  padding: 14px 20px;
  color: var(--dark-grey);
  background: var(--white);
  transition: all ease 0.3s;
  outline-color: var(--green);
  border: 1px solid var(--grey);
}

.input::placeholder {
  color: var(--dark-grey);
}

.button {
  border: 0;
  height: 48px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  color: var(--white);
  border-radius: 4px;
  background: var(--green);
}

/* Extra small devices */
@media (min-width: 320px) {
  .subtitle,
  .paragraph {
    max-width: 328px;
    text-align: center;
  }

  .form {
    margin-top: 32px;
    flex-direction: column;
  }

  .input {
    width: 100%;
  }

  .input + .input {
    margin-top: 10px;
  }

  .button {
    width: 100%;
    margin-top: 18px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .subtitle {
    max-width: unset;
  }

  .paragraph {
    max-width: 500px;
  }

  .form {
    margin-top: 74px;
    flex-direction: row;
  }

  .input {
    width: 232px;
  }

  .input + .input {
    margin: 0 0 0 12px;
  }

  .button {
    width: 96px;
    margin: 0 0 0 12px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .paragraph {
    max-width: unset;
  }
}
