.section {
  display: flex;
  justify-content: center;
}

.container {
  align-items: center;
}

.paragraph {
  max-width: 484px;
}

.link {
  font-weight: 500;
  line-height: 24px;
  color: var(--purple);
  text-decoration: underline;
}

.link:hover {
  text-decoration: underline;
}

/* Extra small devices */
@media (min-width: 320px) {
  .section {
    padding: 64px 0;
  }

  .container {
    align-items: center;
    flex-direction: column;
  }

  .content {
    margin-top: 40px;
    text-align: center;
  }

  .subtitle,
  .paragraph {
    text-align: center;
  }

  .subtitle {
    margin-bottom: 16px;
  }

  .paragraph {
    margin-bottom: 24px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .section {
    padding: 96px 0;
  }

  .subtitle {
    margin-bottom: 40px;
  }

  .paragraph {
    margin-bottom: 40px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .container {
    flex-direction: row;
  }

  .content {
    text-align: unset;
    align-items: unset;
  }

  .subtitle,
  .paragraph {
    text-align: unset;
  }
}
