.Toastify__toast--success,
.Toastify__toast--default {
  height: 80px;
  background: var(--green);
}

.toastify__toast--default,
.Toastify__toast-body,
.Toastify__close-button {
  color: var(--white);
}

.Toastify__progress-bar--animated {
  background: #ffffffb3;
}

.Toastify__toast--error {
  background: var(--red);
}
